menuconfig MODULES_MC_ATT_CONTROL_KAI
	bool "mc_att_control_kai"
	default n
	---help---
		Enable support for mc_att_control_kai

menuconfig USER_MC_ATT_CONTROL_KAI
	bool "mc_att_control_kai running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_MC_ATT_CONTROL_KAI
	---help---
		Put mc_att_control_kai in userspace memory
